<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075894374967-tgq0vc9qq09ngdetd3ucaemimublkag7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075894374967-tgq0vc9qq09ngdetd3ucaemimublkag7</string>
	<key>API_KEY</key>
	<string>AIzaSyB0PVP7miG3NIs7og40Dlv0lECwCna_-OU</string>
	<key>GCM_SENDER_ID</key>
	<string>1075894374967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-cc476</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-cc476.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075894374967:ios:df47f14d8151bbc630e5b2</string>
</dict>
</plist>